<!-- <nav class="navbar navbar-inverse">
  ...
</nav> -->
<!-- <div class="container-fluid"> -->












<div class="row container-fluid">
  <!-- <div id="openweathermap-widget-9"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 9,cityid: '4671654',appid: 'ad27e14ddaf4d0232deb926dad49905a',units: 'imperial',containerid: 'openweathermap-widget-9',  });  (function() {var script = document.createElement('script');script.async = true;script.src = "https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script> -->

<!-- <div id="openweathermap-widget-9"></div>
<script>
window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];

 window.myWidgetParam.push({id: 9,cityid: '4671654',appid: 'ad27e14ddaf4d0232deb926dad49905a',units: 'metric',containerid: 'openweathermap-widget-9',  });

 (function() {
   var script = document.createElement('script');
   script.async = true;
   script.src="https://jsonp.afeld.me/?url=https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";

   var s = document.getElementsByTagName('script')[0];

   s.parentNode.insertBefore(script, s);  })();

</script>
</div> -->

<div id="openweathermap-widget-9"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 9,cityid: '4671654',appid: 'ad27e14ddaf4d0232deb926dad49905a',units: 'metric',containerid: 'openweathermap-widget-9',  });  (function() {var script = document.createElement('script');script.async = true;script.src =  "https://cors-anywhere.herokuapp.com/https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>




<!-- <div id="openweathermap-widget-9"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 9,cityid: '2643743',appid: 'ad27e14ddaf4d0232deb926dad49905a',units: 'metric',containerid: 'openweathermap-widget-9',  });  (function() {var script = document.createElement('script');script.async = true;script.src = "https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script> -->






<!--
<ul class="nav nav-pills">
  <li role="presentation" class="active btn-primary"><a href="#">Home</a></li>
  <li role="presentation"><a href="/todo/register">Register</a></li>
</ul> -->



<nav class="navbar navbar-default alert-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <a type="button" id="logout"class="head btn btn-default navbar-btn btn-primary" href="/register/">Log Out</a>
      <h4 class="h4">ToDo</h4>
    </div>
  </div>
</nav>









  <!-- <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div> -->
     <!-- <div class="checkbox">
       <label>
        <input type="checkbox"> Remember me
      </label>
    </div>  -->
    <!-- <button type="submit" class="btn btn-default btn-primary">Sign in</button>
  </form> -->

  <!-- <div class="jumbotron jumbo">
     <h1>To Do!</h1>
    <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
 </div> -->









  <div class="col-md-6"></div>
<ul class="list-group list-group-item-active text-center">
  {{#each todos}}

    <a href="/todo/{{id}}" class="list-group-item alert alert-info list-group-item-info">   {{title}}</a>

  {{/each}}
  {{priority}}

</ul>
<a type="button" class="btn btn-default btn-primary btn-md btn-block" href="/todo/new">
  New Todo
</a>


<div class="panel panel-default panel-primary">

</div>

  <div class="panel-footer alert alert-info" role="alert">
    <h4 class="bh4">ToDo</h4>
  </div>



<!-- <div class="cursor">
    <button id="easteregg" class="N/A transparent" type="submit"
     name="action">
     <a href="/todo/hidden"></a>
    </button>
  </div> -->
