<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>


      <link rel="stylesheet" href="/stylesheets/hidden.css">
  </head>
  <body>


<!--
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div> -->
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>

    <div class="container-fluid">
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
      <div class="confetti"></div>
    </div>

    <div class="header">
      <h1>Thanks Everyone!</h1>
    </div>











  </body>
</html>
