<nav class="navbar navbar-default  alert-info">
  <div class="container-fluid">
    <div class="navbar-header head pull-right">
        <a type="button" class="btn btn-default navbar-btn btn-primary" href="/register/">Register</a>

    </div>
    <h4>ToDo</h4>
  </div>
</nav>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <!-- <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile"> -->
    <!-- <p class="help-block">Example block-level help text here.</p> -->
  </div>
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div> -->
  <button type="submit" id="login" class="btn btn-default btn-primary">Sign in</button>
</form>


<!-- <div class="panel panel-default panel-primary"></div> -->

  <!-- <div class="panel-footer alert alert-info" role="alert">
    <h4>ToDo</h4>
  </div> -->








</div>
