
<div class="container-fluid">
  <nav class="navbar navbar-default alert-info ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/todo/">
        <h4>ToDo</h4>
      </a>
    </div>
  </div>
</nav>




<form class="form" action="/todo/" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter a todo" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" placeholder="Enter a description" name="description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="priority">Importance</label>
    <select class="form-control" id="priority" name="priority">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit" id="create" class="btn btn-default btn-primary">
    Create
  </button>

  <!-- <a type="button" class="btn btn-default btn-primary" href="/todo/">Create</a> -->




</form>

</div>
